@use 'base/variables' as var;
@use 'base/mixins' as mxs;

.header {
  background-color: var.$green;

  @include mxs.tablet {
    &.anchor {
      box-shadow: 0.1rem 0.2rem 0.3rem #333333;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
    }
  }

  h1 {
    color: var.$white;
    text-align: center;

    @include mxs.tablet {
      margin: 0;
    }
  }

  .header-content {
    padding: 2rem;

    @include mxs.tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;  
    }
  }
}

.main-nav {

  @include mxs.tablet {
    display: flex;
    gap: 2rem;
  }
}

.main-nav a{
  color: var.$white;
  display: block;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  text-align: center;
  
  @include mxs.tablet {
    margin: 0;
  }

  &:hover {
    color: var.$yellow;
  }
}